.chat-main
  .chat-main__header
    .chat-main__header__leftbox
      .chat-main__header__leftbox__current-group
        test
      .chat-main__header__leftbox__member
        Member : masa
    .chat-main__header__edit
      %a{ href: "#" }
        Edit
  .chat-main__messages
  .chat-main__form