.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__user-name
        masa
      .side-bar__header__box__menu
        = link_to "#", class: "side-bar__header__box__menu__new-group" do
          <i class="far fa-edit"></i>
        = link_to "#", class: "side-bar__header__box__menu__edit-user" do
          <i class="fas fa-cog"></i>
  .side-bar__groups